/* App.css */

/* Center the form and ensure inputs take up the desired width */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align children vertically */
  width: 50%;
  margin: 0 auto; /* Center the container horizontally */
}

.custom-input {
  width: 100%; /* Full width of the form container */
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .form-container {
    width: 70%; /* Adjust width for tablets */
  }
}

@media (max-width: 576px) {
  .form-container {
    width: 90%; /* Adjust width for mobile devices */
  }
}
